<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,700;1,100;1,300&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap" rel="stylesheet">

    <title>Produccion</title>

</head>

<body>

    <!-- ============================================================== -->

    <header>
        <div>
            <img src="../img/Logo.png" alt="">
            <h1>CleanWrld</h1>
            <h3>Limpiando espacios para tu comodidad.</h3>
            <hr>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Reserva Online</a></li>
                    <li><a href="#">Clientes</a></li>
                    <li><a href="#">Reciba una cotización</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Funciones</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- ============================================================ -->

    <section>
        <div class="section-intro">
            <div class="section-intro__left">
                <h2>Clean World</h2>
                <h3>Servicio de limpieza excepcional desde 1990.</h3>
            </div>
            <!-- <div class="first-div__right">

            </div> -->
        </div>

        <div class="section-about">
            <div class="about">
                <h2>Acerca de</h2>
                <p>La misión de CleanWorld es sencilla: proporcionar servicios de alta calidad en tiempo y forma.
                    Nuestro equipo va más allá de sus límites para cubrir las necesidades de cada proyecto. Por medio de
                    una comunicación clara y un servicio inigualable, esperemos poder superar sus expectativas en
                    Servicio de limpieza. Para obtener más información, contáctenos hoy mismo.
                </p>
                <button class="btn">Contacto</button>
            </div>
            <img src="../img/aseo-about.png" alt="about-image">
        </div>
    </section>



    <!-- !====================FOOTER ========================= -->

    <footer>
        <div class="FooterUp">
            <div class="UpLeft">
                <div class="leftContainer">
                    <h2 class="LeftSubtitle">CleanWorld</h2>
                    <p class="LeftStreet">Calle. 100 #100-200 Barranquilla, Atl.</p>
                    <p class="leftEmail">Correo666@correo.com</p>
                    <p class="leftPhone">123-456-7890</p>
                </div>
            </div>
            <div class="UpRight">
                <h2 class="RightSubtitle">Formulario de suscripción</h2>
                <form>
                    <input class="text" type='text'></input>
                    <button class="btn">Enviar</button>
                </form>
            </div>
        </div>
        <div class="FooterDown">
            <p>&copy; 2022 por CleanWorld.</p>
        </div>
    </footer>

</body>

</html>