<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,700;1,100;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap" rel="stylesheet">

    <title>Produccion</title>
    
</head>

<body>

    <!-- ============================================================== -->

    <header>
        <div>
            <img src="../img/Logo.png" alt="">
            <h1>CleanWrld</h1>
            <h3>Limpiando espacios para tu comodidad.</h3>
            <hr>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Reserva Online</a></li>
                    <li><a href="#">Clientes</a></li>
                    <li><a href="#">Reciba una cotización</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Funciones</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- ============================================================ -->


    


</body>

</html>