* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header {
    max-width: 100%;
    margin: 0 auto;
}

header div {
    text-align: center;
    padding: 2rem;
}

header img {
    width: 10rem;
    display: block;
    margin: 0 auto;
}

header hr {
    margin: 2rem auto;
    max-width: 60%;
}

header nav {

}

header h1 {
    font-size: 4rem;
    font-weight: 100;
}

header h3 {
    font-size: 1.7rem;
    font-weight: 300;
    font-style: italic;

}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

nav li {
    margin: 0 .5rem;
}

nav a {
    text-decoration: none;
    font-size: 1.7rem;
    padding: 1rem 0;
    color: #0C3C2C;
}




/* !=========== AQUI EMPIEZA TODOS LA SECCION MAIN ============= */

/* *=============== EMPIEZA LA SECCION CLEAN WORLD ================ */
section {
    width: 100%;
    margin: 0 auto;
    
}

section .section-intro {
    background-image: url("../img/trapear.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    /* height: 100vh; */
    margin-top: 1rem;
}

.section-intro .section-intro__left {
    text-align: center;
    padding: 25rem 10rem;
}

.section-intro .section-intro__left h2 {
    font-size: 12rem;
    font-weight: 300;
    letter-spacing: 1rem;
    color: #0C3C2C;
}

.section-intro .section-intro__left h3 {
    font-size: 3rem;
    font-weight: 300;
    font-style: italic;
    color: #0C3C2C;
}







/* *============== ESTA ES LA SECCION DEL ABOUT ================ */

.section-about {
    background: linear-gradient(#54A474, #3E7957, #0C3C2C);
    padding: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-about .about {
    width: 500px;
    background: white;
    padding: 5rem 6rem;
    position: relative;
    left: 40px;
    z-index: 100;
    border-radius: 2rem;
}

.section-about .about h2 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 2;
    color: #3E7957;
}

.section-about .about p {
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 2;
    color: #0C3C2C;
}

.section-about .about .btn {
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.5;
    padding: 1rem 3rem;
    margin: 5rem 0 2rem 0;
    background: #3E7957;
    color: white;
    cursor: pointer;
    border-radius: .5rem;
    border-style: none;
}

.section-about img {
    position: relative;
    left: -100px;
}

/* *===================== ESTILOS DEL FOOTER ======================== */

footer {
    width: 100%;
    margin: 0 auto;
    /* padding: 2rem 2rem; */
}

.FooterUp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.UpLeft {
    /* padding: 0 5rem; */
    width: 50%;
    display: flex;
    justify-content: center;
}

.UpLeft h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #3E7957;
    margin: 2rem 0;
}

.LeftStreet {
    font-size: 1.3rem;
    font-weight: 300;
    margin: .5rem 0;
}

.leftEmail {
    font-size: 1.3rem;
    font-weight: 300;
    margin: .5rem 0;
}

.leftPhone {
    font-size: 1.3rem;
    font-weight: 300;
    margin: .5rem 0;
}

/* *DOWN -------------------------------- */

.UpRight {
    /* padding: 0 10rem; */
    width: 50%;
    /* padding-left: 5rem; */
}

.RightSubtitle {
    font-size: 2.5rem;
    font-weight: 500;
    color: #3E7957;
    margin: .5rem 0;
}

form {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

form .text {
    font-size: 1.3rem;
    width: 300px;
    height: 3.5rem;
    outline: none;
    padding: 0 .5rem;
}

form .btn {
    width: 10rem;
    height: 3.5rem;
    margin-left: .5rem;
    font-size: 1.7rem;
    padding: 0 .5rem;
    font-weight: 900;
    color: white;
    background: #0C3C2C;
    border-style: none;
    cursor: pointer;
}

.FooterDown {
    background: #0C3C2C;
    text-align: center;
    padding: 1rem;
    margin: 1rem 0 .5rem 0;
}

.FooterDown p {
    font-size: 1.3rem;
    font-weight: 300;
    color: white;
}